* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 15px;
  color: white;
}

body {
  background-color: #191919;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96vh;
}

@media (max-width: 800px) and (orientation: landscape) {
  .main {
    height: 200vh;
  }
}

.main > .mainContainer {
  border-radius: 30px;
  background-color: #282828;
  width: 50%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 420px) and (orientation: portrait) {
  .main > .mainContainer {
    width: 100%;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .main > .mainContainer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .main > .mainContainer {
    width: 100%;
  }
}

.main > .mainContainer > .cardTitle {
  border-radius: 30px;
  background-color: #e5b36a;
  font-size: 1.5em;
  text-align: center;
  padding: .2em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0px;
}

.main > .mainContainer > .imgBox {
  width: 30%;
}

@media (max-width: 420px) and (orientation: portrait) {
  .main > .mainContainer > .imgBox {
    width: 55%;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .main > .mainContainer > .imgBox {
    width: 55%;
  }
}

.main > .mainContainer > .imgBox > img {
  width: 100%;
  height: 100%;
}

.main > .mainContainer > .shareTitle {
  border-radius: 30px;
  background-color: #6bb2c3;
  font-size: 1.5em;
  text-align: center;
  padding: .2em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0px;
}

.main > .mainContainer > .shareContainer {
  border-radius: 30px;
  background-color: #191919;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 420px) and (orientation: portrait) {
  .main > .mainContainer > .shareContainer {
    width: 100%;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .main > .mainContainer > .shareContainer {
    width: 100%;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .main > .mainContainer > .shareContainer {
    width: 85%;
  }
}

.main > .mainContainer > .shareContainer .icon {
  cursor: pointer;
  width: 20%;
}

.main > .mainContainer > .shareContainer .icon .shareName {
  width: 100%;
  text-align: center;
  margin-top: .4rem;
}

footer {
  background-color: #1c1c1c;
  width: 100%;
  height: 4vh;
  text-align: center;
  font-size: 1em;
  color: #cccccc;
  line-height: 4vh;
}

.plurk .st1 {
  fill: #EFBB6A;
}

.plurk .st0 {
  fill: #191919;
}

.plurk:hover .st1 {
  fill: #FF574D;
}

.plurk:hover .st0 {
  fill: #FFFFFF;
}

.facebook .st1 {
  fill: #EFBB6A;
}

.facebook .st0 {
  fill: #191919;
}

.facebook:hover .st1 {
  fill: #3b5998;
}

.facebook:hover .st0 {
  fill: #FFFFFF;
}

.twitter .st1 {
  fill: #EFBB6A;
}

.twitter .st0 {
  fill: #191919;
}

.twitter:hover .st1 {
  fill: #1da1f2;
}

.twitter:hover .st0 {
  fill: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */